<h1>New publication</h1>

<% if user_signed_in? %>
  <%= render "form", publication: @publication, current_user: current_user %>
<% else %>
  <%= render "form", publication: @publication, current_user: nil %>
<% end %>

<br>

<div>
  <%= link_to "Back to publications", publications_path %>
</div>
