<div class="container pt-3">

<h1>Sitio Dedicado a <span class="text-danger">Verdaderos</span> Amantes de los Gatos</h1><br>
<p class="fs-3">Este proyecto fue constituido el 2020 con el afan<br>
de rescatar todos aquellos momentos importantes que <br>hemos
vivido junto a nuestras mascotas estos ultimos<br> tiempos
de crisis, no solamente social sino que post-pandemico</p>
<p>Todos los derechos reservados &commat; Desafio047G2</p>


</div>